/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RTL Layout - Sidebar on the Right for Arabic */
body {
    direction: rtl;
}

.flex.flex-row-reverse app-sidebar {
    order: 2;
}

.flex.flex-row-reverse main {
    order: 1;
}